
h1, h2, h3, h4, p, a, form{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1{
    font-size: 64px;
    color:whitesmoke;
    font-weight: lighter;
}

h2, a{
    font-size: 16px;
}

h3{
    font-size: 30px;
    font-weight: lighter;
}

h4{
    font-size: 14px;
    color:grey;
    font-weight: lighter;
}

p{
    font-size: 12px;
    font-weight: lighter
}

a{
    text-decoration: none;
}

nav{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
}

#hero-image{
    padding: 40px;
    background-image: url("./intrepid-home-banner-1@2x_0.jpeg");
    background-size: cover;
    height: 500px;
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

#slogan{
    width:500px;
    height:100px;
    padding-left:80px;
}

#slogan-buttons{
    display: flex;
    flex-wrap: wrap;
    padding-left:80px;
}
button{
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 15px;
    border: none;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

button:active{
    opacity:1;
}

#button-anywhere{
    width: 400px;
    height: 40px;
    margin: 10px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:grey;
    background-image: url("./search-line.png");
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
#button-anytime{
    width: 250px;
    height: 40px;
    margin: 10px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:grey
}
#button-search{
    width: 150px;
    height: 40px;
    margin: 10px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:lightgray;
    background-color: rgb(238, 37, 37);
    background-image: url("./arrow-right-line\ \(2\).png");
    background-position: 120px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#button-search:active{
    background-color: red;
}

#call-to-action{
    padding: 30px;
    text-align: center;
    display:flex;
    flex-direction: column;
}

#top-trips-header{
    margin-left: 50px;
    display: flex;
}

#trip-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.trip-card{
    margin: 20px;
    width: 275px;
    height:392px;
    border: solid 1px lightgray;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.trip-card:hover{
    opacity: 0.9;
}
.trip-card:active{
    opacity: 1;
}

#jordan{
    background-image: url("./petra-world-heritage-jordan.webp");
}

#iceland{
    background-image: url("./3_northern-lights-appear-over-Mount-Kirkjufell-with-kirkjufellfoss-waterfall-in-Iceland.jpeg");
}

#canada{
    background-image: url("./esl-canada-language-stay-hero.jpeg");
}

#oman{
    background-image: url("./photo-1599743777555-e362a2feab39.jpeg");
}

#trips-button-section{
    display: flex;
    justify-content: center;
}
#trips-button{
    width: 400px;
    height: 40px;
    margin: 40px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    background-color:rgb(14, 90, 82);
}

#video-content{
    min-height: 500px;
    background-color: rgb(14, 90, 82);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
}

#video-info{
    width: 500px;
    padding: 30px;
    color: whitesmoke;
    font-weight: lighter;

}

#video{
    padding-left: 30px;
    padding-top: 30px;
}

#subscribe-form{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    align-content: space-between;
    background-color: white;
   
}

input{
    width: 350px;
    padding: 12px;
    margin: 8px;
    border: solid 1px darkgrey;
    border-radius: 5px;
    color: darkgrey;
    display: flex;
    justify-content: center;
    background-image: url("./mail-line\ \(1\).png");
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 40px;

   
}
#subscribe-button{
    width: 400px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: rgb(14, 90, 82);
    cursor: pointer;
}


footer{
    background-color: whitesmoke;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}